.h2Blog {
  font-family: "Bell MT", cursive;
  line-height: 130%;
  font-weight: bold;
}

.picBlog {
  border-radius: 40px;
  padding: 1em;
  padding-bottom: 2em;
  will-change: filter;
  transition: filter 300ms;
  max-width: 92%;
  max-height: 92%;
}


@media screen and (min-width: 800px) {
  .picBlog {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
}